<%= form_with(model: task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :task_name %>
  <%= f.text_field :task_name %>

  <%= f.label :priority %>
  <% case controller.action_name
  when 'new', 'create' %>
    <%= f.collection_select :priority_id, MasterTaskPriority.all, :id, :priority, :prompt => true %>
  <% when 'edit', 'update' %>
    <%= f.collection_select :priority_id, MasterTaskPriority.all, :id, :priority, :prompt => @task.priority.priority %>
  <% end %>

  <% if controller.action_name == 'edit' || controller.action_name == 'update' %>
    <%= f.label :status %>
    <%= f.collection_select :status_id, MasterTaskStatus.all, :id, :status, :prompt => @task.status.status %>
  <% end %>

  <%= f.label :label %>
  <%= f.text_field :label %>

  <%= f.label :limit_date %>
  <%= f.datetime_field :limit_date %>

  <%= f.label :detail %>
  <%= f.text_field :detail %>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
