<%= form_with(model: task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :タスク名 %>
  <%= f.text_field :task_name %>

  <%= f.label :優先度 %>
  <% case controller.action_name
  when "new" %>
    <%= f.collection_select :priority_id, MasterTaskPriority.all, :id, :priority, :include_blank => "選択してください" %>
  <% when "edit" %>
    <%= f.collection_select :priority_id, MasterTaskPriority.all, :id, :priority, :prompt => @task.priority.priority %>
  <% end %>

  <% if controller.action_name == "edit" %>
    <%= f.label :ステータス %>
    <%= f.collection_select :status_id, MasterTaskStatus.all, :id, :status, :prompt => @task.status.status %>
  <% end %>

  <%= f.label :ラベル %>
  <%= f.text_field :label %>

  <%= f.label :期限 %>
  <%= f.datetime_field :limit_date %>

  <%= f.label :説明詳細 %>
  <%= f.text_field :detail %>

  <% case controller.action_name
  when "new" %>
    <%= f.submit "新規作成" %>  
  <% when "edit" %>
    <%= f.submit "更新" %>  
  <% end %>
<% end %>
