<p id="notice"><%= notice %></p>

<h1>タスク一覧</h1>
<%= link_to t('link.new'), new_task_path %>
<br>

<table>
  <thead>
    <tr>
      <th><%= Task.human_attribute_name(:id) %></th>
      <th><%= Task.human_attribute_name(:status) %></th>
      <th><%= Task.human_attribute_name(:priority) %></th>
      <th><%= Task.human_attribute_name(:label) %></th>
      <th><%= Task.human_attribute_name(:task_name) %></th>
      <th><%= sort_order 'limit_date', Task.human_attribute_name(:limit_date) %></th>
      <th><%= Task.human_attribute_name(:detail) %></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td class = "task-list-item index-id"><%= task.id %></td>
        <td class = "task-list-item index-status"><%= task.status.status %></td>
        <td class = "task-list-item index-priority"><%= task.priority.priority %></td>
        <td class = "task-list-item index-label"><%= task.label %></td>
        <td class = "task-list-item index-task-name"><%= task.task_name %></td>
        <td class = "task-list-item index-limit font-12">
          <% if task.limit_date != nil %>
            <%= l task.limit_date %>
          <% end %>
        </td>
        <td class = "task-list-item index-detail font-left"><%= task.detail %></td>
        <td><%= link_to t('link.show'), task %></td>
        <td><%= link_to t('link.edit'), edit_task_path(task) %></td>
        <td><%= link_to t('link.delete'), task, method: :delete, data: { confirm: t('confirm.delete') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
