<h1>タスク詳細</h1>
<p id="notice"><%= notice %></p>
<p><%= Task.human_attribute_name(:id) %></p>
<div class = "task-list-item index-id"><%= @task.id %></div>
<p><%= Task.human_attribute_name(:status) %></p>
<div class = "task-list-item index-status"><%= @task.status.status %></div>
<p><%= Task.human_attribute_name(:priority) %></p>
<div class = "task-list-item index-priority"><%= @task.priority.priority %></div>
<p><%= Task.human_attribute_name(:label) %></p>
<div class = "task-list-item index-label"><%= @task.label %></div>
<p><%= Task.human_attribute_name(:task_name) %></p>
<div class = "task-list-item index-task-name"><%= @task.task_name %></div>
<p><%= Task.human_attribute_name(:limit_date) %></p>
<div class = "task-list-item index-limit font-12">
  <% if @task.limit_date != nil %>
    <%= l @task.limit_date %>
  <% end %>
</div>
<p><%= Task.human_attribute_name(:detail) %></p>
<div class = "task-list-item index-detail font-left"><%= @task.detail %></div>
</br>
<%= link_to t('link.edit'), edit_task_path(@task) %> |
<%= link_to t('link.delete'), @task, method: :delete, data: { confirm: t('confirm.delete') } %> |
<%= link_to t('link.back'), '/' %>
