<%= render 'layouts/error', model: @label %>
<%= form_with(model: @label, class: 'card w-50 m-2 p-2 gap-3') do |f| %>
  <div class="d-flex">
    <div class="w-25"><%= f.label 'name' %>:</div>
    <div class="w-50"><%= f.text_field :name, class: 'form-control' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label 'color' %>:</div>
    <div class="w-50"><%= f.select :color, Label.colors.keys, {}, { class: 'form-select text-uppercase' } %></div>
  </div>
  <% if @label.new_record? %>
    <div class="mx-auto">
      <%= f.submit I18n.t(:'button.create'), class: 'btn btn-primary' %>
    </div>
  <% else %>
    <div class="mx-auto">
      <%= f.submit I18n.t(:'button.edit'), class: 'btn btn-primary' %>
      <%= link_to I18n.t(:'link.delete'), label_path(@label), method: :delete %>
    </div>
  <% end %>
<% end %>
