<%= form_with(model: task, local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation" class="alert alert-danger mt-3">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-floating mb-3">
    <%= form.text_field :name, class: "form-control", placeholder: "Task Name" %>
    <label>Tasks Name</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.text_area :desc, class: "form-control", placeholder: "Description" %>
    <label>Description</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.select :status, Task.statuses, { selected: @task.status || "", disabled: "", prompt: 'Please select status' }, class: "form-control" %>
    <label>Status</label>

  </div>

  <div class="mb-3">
    <%= form.collection_check_boxes(:label, Task.labels, :first, :first, include_hidden: false) do |l| %>
      <%= l.label { l.check_box + l.text } %>
    <% end %>
  </div>


  <div class="form-floating mb-3">
    <%= form.select :priority, Task.priorities, { selected: @task.priority || "", disabled: "", prompt: 'Please select priority' }, class: "form-control", placeholder: "Priority" %>
    <label>Priority</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.datetime_local_field :due_date, class: "form-control", placeholder: "Due Date" %>
    <label>Due Date</label>
  </div>

  <div class="form-floating mb-3">
    <%= form.select :assignee, User.pluck(:name, :id), { selected: @task.assignee || "", disabled: "", prompt: 'Please Select an Assignee' }, class: "form-control" %>
    <label>Assignee</label>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-secondary' %>
    <%= link_to 'Back', tasks_path, class: "btn btn-dark" %>
  </div>
<% end %>
