<h1>Tasks</h1>
<%= render "filter" %>
<%= link_to '<i class="bi bi-plus-lg"></i>'.html_safe, new_task_path, class: "btn btn-secondary mb-3 float-end newtask" %>
<table class="table table-hover bg-white">
  <thead>
  <tr>
    <th class="text-secondary text-center">#</th>
    <th class="text-secondary">Task Name</th>
    <th class="text-secondary">Status</th>
    <th class="text-secondary">Priority</th>
    <th class="text-secondary">Labels</th>
    <th class="text-secondary"><%= sort_link(@q, :due_date) do %>
        Due Date
      <% end %>
    </th>
    <th class="text-secondary">Assignee</th>
    <th class="text-secondary">Created By</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @tasks.each_with_index do |task, idx| %>
    <tr class="align-middle status_<%= Task.statuses.key(task.status).downcase.parameterize.underscore %>">
      <td class="text-center"><%= idx + 1 %></td>
      <td>
        <h6 class="task-name"><%= task.name %></h6>
        <span class="text-secondary"><%= task.desc.first(10) %></span>
      </td>
      <td><%= Task.statuses.key(task.status) %></td>
      <td><%= Task.priorities.key(task.priority) %></td>
      <td>
        <% render_labels(task.label).each do |l| %>
          <span class="labels <%= l.downcase %>"> <%= l %></span>
        <% end %>
      </td>
      <td><%= task.due_date.strftime("%B %d, %Y") %></td>
      <td><%= get_user_name(task.assignee) %></td>
      <td><%= get_user_name(task.user_id) %></td>
      <td><%= link_to 'Show', task, class: 'btn btn-secondary' %></td>
      <td><%= link_to 'Edit', edit_task_path(task), class: 'btn btn-dark' %></td>
      <td><%= link_to '<i class="bi bi-trash"></i>'.html_safe, task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= paginate @tasks %>
