<%= form_with(model: @user, url: signup_path, class: 'card w-50 m-2 p-2 gap-3') do |f| %>
  <div class="d-flex">
    <div class="w-25"><%= f.label 'ユーザ名' %>:</div>
    <div class="w-50"><%= f.text_field :username, class: 'form-control' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label 'メールアドレス' %>:</div>
    <div class="w-75"><%= f.text_field :email, class: 'form-control' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label 'プロフィール画像' %>:</div>
    <div class="w-50"><%= f.text_field :icon, class: 'form-control' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label 'パスワード' %>:</div>
    <div class="w-50"><%= f.text_field :password, class: 'form-control' %></div>
    <div class="w-50"><%= f.text_field :password_confirmation, class: 'form-control' %></div>
  </div>
  <div class="mx-auto">
    <%= f.submit @user.new_record? ? I18n.t(:'button.create') : I18n.t(:'button.edit'), class: 'btn btn-primary' %>
  </div>
<% end %>
