<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% unless all_maintenance? %>
      <nav class="navbar navbar-expand-lg navbar-light bg-light p-4 mb-3">
        <div class="container-fluid">
          <%= link_to 'TodoApp', root_path, class: 'navbar-brand' %>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-3 mt-lg-0">
              <% unless maintenance? %>
                <li class="nav-item">
                  <%= render 'tasks/search_form' %>
                </li>
              <% end %>
            </ul>
            <% if user_signed_in? %>
              <%= link_to Task.model_name.human, root_path, class: 'nav-link btn btn-outline-secondary btn-sm', 'aria-current' => 'page' %>
              <%= link_to Label.model_name.human, labels_path, class: 'nav-link btn btn-outline-secondary btn-sm ms-0 ms-lg-3 mt-3 mt-lg-0', 'aria-current' => 'page' %>
            <% end %>
              <%= render 'sessions/link' %>
          </div>
        </div>
      </nav>
    <% end %>
    <div class="container-fluid mb-3">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
