<!DOCTYPE html>
<html>
  <head>
    <title>TodoApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="d-flex flex-row justify-content-between align-items-center shadow-sm px-5 py-3">
      <h1><%= link_to 'TODO App', root_path %></h1>
      <div class="d-flex gap-2">
        <%= link_to "Admin Page", admin_users_path, class: 'btn btn-outline-secondary' if current_user&.admin? %>
        <%= link_to I18n.t(:'button.create'), new_task_path, class: 'btn btn-outline-primary' %>
        <% if logged_in? %>
          <div class="my-auto">
            <%= current_user.username %>
          </div>
          <%= link_to 'logout', logout_path, class: 'btn btn-outline-primary' %>
        <% else %>
          <%= link_to 'login', login_path, class: 'btn btn-outline-primary' %>
        <% end %>
      </div>
    </div>
    <div class="container mt-4">
      <% flash.each do |message_type, message| %>
        <% case message_type
           when 'success' %>
          <div class="alert alert-success"><%= message %></div>
        <% when 'warning' %>
          　<div class="alert alert-warning"><%= message %></div>
        <% when 'error' %>
          　<div class="alert alert-danger"><%= message %></div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
