<%= render 'layouts/error', model: @task %>
<%= form_with(model: @task, class: 'card w-50 m-2 p-2 gap-3') do |f| %>
  <div class="d-flex">
    <div class="w-25"><%= f.label I18n.t(:'task.title') %>:</div>
    <div class="w-50"><%= f.text_field :title, class: 'form-control' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label I18n.t(:'task.description') %>:</div>
    <div class="w-75"><%= f.text_area :description, class: 'form-control' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label I18n.t(:'task.end_at') %>:</div>
    <div class="w-50"><%= f.text_field :end_at, id: 'flatpickr-datetime' %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label I18n.t(:'task.status') %>:</div>
    <div class="w-50"><%= f.select :task_status, Task.task_statuses.keys, {}, { class: 'form-select text-uppercase' } %></div>
  </div>
  <div class="d-flex">
    <div class="w-25"><%= f.label I18n.t(:'select_box.user') %>:</div>
    <div class="w-50"><%= f.collection_select :user_id, @users, :id, :username, { selected: @selected_user_id }, { class: 'form-select' } %></div>
  </div>
  <div class="mx-auto">
    <%= f.submit @task.new_record? ? I18n.t(:'button.create') : I18n.t(:'button.edit'), class: 'btn btn-primary' %>
  </div>
<% end %>
