<div class="shadow-sm m-1 p-2 w-100 rounded bg-white mx-auto">
  <div class="d-flex gap-2">
    <p class="fw-bold">Sort by:</p>
    <%= I18n.t(:'task.end_at') %>
    <%= link_to '👆', root_path(end_at: 'desc', keyword: @keyword, task_status: @status) %>
    <%= link_to '👇', root_path(end_at: 'asc', keyword: @keyword, task_status: @status) %>
  </div>
  <div class="d-flex gap-2">
    <p class="fw-bold">Search by:</p>
    <%= render 'search_form' %>
  </div>
</div>

<% if @tasks.present? %>
  <div class="d-flex flex-wrap">
    <% @tasks.each do |task| %>
      <div class="w-25">
        <div class="card p-2 m-1 shadow-sm gap-2">
          <div class="d-flex justify-content-between">
            <%= link_to task.title, task_path(task) %>
            <div class="text-uppercase fw-bold"><%= task.task_status %></div>
          </div>
          <div class="d-flex gap-1">
            <div class="fw-bold"><%= I18n.t(:'task.description') %>:</div>
            <%= task.description %>
          </div>
          <div class="d-flex gap-1">
            <div class="fw-bold"><%= I18n.t(:'task.end_at') %>:</div>
            <%= task.end_at ? I18n.l(task.end_at) : 'None' %>
          </div>
          <div class="d-flex justify-content-between">
            <%= link_to I18n.t(:'link.edit'), edit_task_path(task) %>
            <%= link_to I18n.t(:'link.delete'), task_path(task), method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-4">
    <%= paginate @tasks, theme: 'bootstrap-5',
                 pagination_class: "pagination-sm flex-wrap justify-content-center",
                 nav_class: "d-inline-block" %>
  </div>
<% else %>
  <%= I18n.t(:'message.task_not_registered') %>
<% end %>
