<div class="shadow-sm m-1 p-2 w-100 rounded bg-white mx-auto">
  <div class="d-flex gap-2">
    <p class="fw-bold">Sort by:</p>
    <%= I18n.t(:'task.end_at') %>
    <%= link_to '↑',
                root_path(end_at: 'desc', keyword: @keyword, status: @status, user_id: @user_id),
                class: 'desc' == @end_at_sort ? 'link-secondary' : '' %>
    <%= link_to '↓',
                root_path(end_at: 'asc', keyword: @keyword, status: @status, user_id: @user_id),
                class: 'asc' == @end_at_sort ? 'link-secondary' : '' %>
  </div>
  <div class="d-flex gap-2">
    <p class="fw-bold">Assign by:</p>
    <% @users.each do |user| %>
      <%= link_to user.username,
                  root_path(user_id: user.id, end_at: @end_at_sort, keyword: @keyword, status: @status),
                  class: user.id == @user_id ? 'link-secondary' : '' %>
    <% end %>
  </div>
  <div class="d-flex gap-2">
    <p class="fw-bold">Search by:</p>
    <%= render 'search_form' %>
  </div>
</div>

<% if @tasks.present? %>
  <div class="d-flex flex-wrap">
    <% @tasks.each do |task| %>
      <div class="w-25">
        <%= render 'tasks/card', task: task %>
      </div>
    <% end %>
  </div>
  <div class="text-center mt-4">
    <%= paginate @tasks, theme: 'bootstrap-5',
                 pagination_class: "pagination-sm flex-wrap justify-content-center",
                 nav_class: "d-inline-block" %>
  </div>
<% else %>
  <%= link_to I18n.t(:'message.task_not_registered'), new_task_path %>
<% end %>
