<%= render 'layouts/flash', add_class: 'alert mt-3' %>
<div class="mb-2">
<%= link_to I18n.t('common.action.create'), new_admin_user_path, class: "btn btn-primary" %>
</div>
<% if @users.present? %>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th><%= User.human_attribute_name(:id) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:role) %></th>
        <th><%= User.human_attribute_name(:tasks_count) %></th>
        <th></th>
        <% if @users.admin.count > 1 %>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= User.human_attribute_name("role.#{user.role}") %></td>
          <td><%=  link_to I18n.t(:tasks, count: user.tasks.to_a.count), tasks_admin_user_path(user) %></td>
          <td><%= link_to I18n.t('common.action.edit'), edit_admin_user_path(user), class: 'btn btn-secondary' %></<td>
          <td>
            <% if @users.admin.count > 1 && !user.eql?(current_user) %>
              <%= link_to I18n.t('common.action.destroy'), admin_user_path(user), method: :delete, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="d-flex justify-content-center">
    <%= paginate @users %>
  </div>
<% else %>
  <p><%= I18n.t('users.common.not_found') %></p>
<% end %>
