<% if admin_logged_in? %>
  <table class="table table-hover bg-white">
    <thead>
    <tr>
      <th class="text-secondary text-center">#</th>
      <th class="text-secondary">Name</th>
      <th class="text-secondary">Role</th>
      <th class="text-secondary">No of tasks</th>
      <th colspan="3"></th>
    </tr>
    </thead>
    <tbody>
    <% @users.present? && @users.each_with_index do |user, idx| %>
      <tr class="align-middle">
        <td class="text-center"><%= idx + 1 %></td>
        <td><%= user.name %></td>
        <td><%= User.roles.key(user.role) %></td>
        <td><%= no_of_tasks(user.id) %></td>
        <td><%= link_to 'Show', user, class: 'btn btn-secondary' %></td>
        <td><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-dark' %></td>
        <td><%= link_to '<i class="bi bi-trash"></i>'.html_safe, user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<%= paginate @users %>