<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<h1>Sign Up</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <div class="field mb-3">
    <%= f.label :email %><br>
    <%= f.text_field :email %><br>
  </div>
  <div class="field mb-3">
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
  </div>
  <div class="field mb-3">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  <%= f.submit 'Sign Up', class: "btn btn-dark" %>

<% end %>