<div class="row p-2">
  <div class="col-md-6 offset-3">
    <h2>Login</h2>
    <div class="dialog bg-white p-5 mb-3">
      <%= form_with scope: :session, local: true do |form| %>
        <%= form.label :email %>
        <%= form.email_field :email, size: 32, class: 'form-control mb-3' %>
        <%= form.label :password %>
        <%= form.password_field :password, size: 32, class: 'form-control mb-3' %>
        <%= form.submit 'Login', class: 'btn btn-secondary mb-3' %>
      <% end %>
      <p>New user? <%= link_to "Sign up now!", signup_path %></p>
    </div>
  </div>
</div>
